#container{
    display: grid;
    grid-template-areas: 'header header'
                        'sidebar photos' ;
}

header{
    grid-area: header;
}

#sidebar{
    grid-area: sidebar;
}

#photo-container{
    background-color: coral;
    grid-area: photos;
}

@media only screen and (max-width: 37.5rem){
    #container{
        grid-template-areas: 'header'
                           'sidebar'
                           'photos';
    }
}

@media only screen and (min-width: 37.5rem){
    #container{
        grid-template-areas: 'header'
                           'sidebar'
                           'photos';
    }
}

@media only screen and (min-width: 48rem){
    #container{
        grid-template-areas: 'header'
                           'sidebar photos';
    }
}