#photo-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

#photo-container .column{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

#photo-container .column .photo{
    margin-top: 8px;
    vertical-align: middle;
}
#photo-container .column .photo img{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 37.5rem) {
    #photo-container .column{
        flex: 100%;
        max-width: 100%;
    }
}

@media only screen and (min-width: 37.5rem) {
    #photo-container .column{
        flex: 50%;
        max-width: 100%;
    }
}

@media only screen and (min-width: 48rem) {
    #photo-container .column{
        flex: 33.33%;
        max-width: 100%;
    }
}

@media only screen and (min-width: 62rem) {
    #photo-container .column{
        flex: 25%;
        max-width: 100%;
    }
}